<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shanxijuzhi.juzhi.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.shanxijuzhi.juzhi.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loginAct" jdbcType="VARCHAR" property="loginact" />
    <result column="loginPwd" jdbcType="VARCHAR" property="loginpwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
  </resultMap>


  <sql id="Base_Column_List">
    id, loginAct, loginPwd, phone, status, createTime, lastLoginTime
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.shanxijuzhi.juzhi.model.User">
    insert into user (id, loginAct, loginPwd, 
      phone, status, createTime, 
      lastLoginTime)
    values (#{id,jdbcType=INTEGER}, #{loginact,jdbcType=VARCHAR}, #{loginpwd,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lastlogintime,jdbcType=TIMESTAMP})
  </insert>


  <insert id="insertSelective" parameterType="com.shanxijuzhi.juzhi.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginact != null">
        loginAct,
      </if>
      <if test="loginpwd != null">
        loginPwd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginact != null">
        #{loginact,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.shanxijuzhi.juzhi.model.User">
    update user
    <set>
      <if test="loginact != null">
        loginAct = #{loginact,jdbcType=VARCHAR},
      </if>
      <if test="loginpwd != null">
        loginPwd = #{loginpwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.shanxijuzhi.juzhi.model.User">
    update user
    set loginAct = #{loginact,jdbcType=VARCHAR},
      loginPwd = #{loginpwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--
  <select id="selectUserByLoginActPwd" resultType="com.shanxijuzhi.juzhi.model.User">
    select
        *
    from
        user
    where
        loginAct = #{loginAct} and loginPWd = #{loginPwd1}
  </select>
-->


</mapper>